<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caixa</title>
    <link rel="stylesheet" type="text/css" href="/templates/css/delivery.css">
    <link rel="stylesheet" href="/templates/css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <style>

    </style>
</head>

<body>
    <%- include('../componentes/menu.ejs'); -%>
        <input type="hidden" name="idMesa" id="idMesa" value="dMesa">
        <input type="hidden" name="idCaixa" id="idCaixa" value="">
        <h2>Lista de Pedidos</h2>
        <div class="caixa">
            <!-- <div class="logo">
            <img id="cliente" src="/img/mesa.png" alt="">
        </div> -->

            <div style="overflow-y: scroll;" class="">

                <table>
                    <thead>
                        <th>Cliente</th>
                        <th>Entrega</th>
                        <th>Telefone</th>
                        <th>Endereço</th>
                        <th>Status</th>
                        <th colspan="2">Ações</th>
                    </thead>
                    <tbody>
                        <% caixas.forEach(function(caixa){%>
                            <% if(caixa.isDelivery){%>
                                <tr class='clickable-row'>

                                    <td data-title="Cliente">
                                        <%=caixa.client.name%>
                                    </td>
                                    <td data-title="Data Pedido">
                                        <%=caixa.dateOpen.getDate()+'/'+(caixa.dateOpen.getMonth()+1)+'/'+caixa.dateOpen.getFullYear()%>
                                    </td>
                                    <td data-title="Telefone">
                                        <%=caixa.client.telefone1%>
                                    </td>
                                    <td data-title="Endereço">
                                        <%=caixa.client.endereco%>
                                    </td>
                                    <td data-title="Status">
                                        <% if(caixa.status==0){%>
                                            Aberto
                                            <% }else{%>
                                                fechado
                                                <%}%>
                                    </td>
                                    <% if(caixa.status==0){%>
                                        <td><button onclick="add('<%=caixa._id%>')">Adicionar</button></td>
                                        <td><button onclick="caixa('<%=caixa._id%>')">Visualizar</button></td>
                                        <!-- <td><button onclick="Pagamento('<%=caixa._id%>')">Pagamento</button></td> -->
                                        <% }else{%>
                                            <td></td>
                                            <td><button onclick="caixa('<%=caixa._id%>')">Visualizar</button></td>
                                            <!-- <td><button disabled onclick="reabrir('<%=caixa._id%>')">Pagamento</button></td> -->
                                            <%}%>
                                </tr>
                                <% }%>
                                    <%
                    }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <!-- 
        <div style="display: flex;margin-left: 8%;margin-top: 2%;">
            <label style="margin-right: 5px;">SubTotal: <input type="text" readonly disabled name="" class="input" id="subtotal"></label>
        </div> -->


            <!-- </form> -->
            <a id="adicionar" onclick="showClickHandler();">
                <div class="float-button">
                    <span>+</span>
                </div>
            </a>
        </div>
        <div class="info">
            <center>
                <p>Clicle no pedido para inserir o produto</p>
            </center>
        </div>


        <%- include('../componentes/rodape.ejs'); -%>
</body>


</html>
<div class="modal" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Novo Pedido</h5>
                <button type="button" class="" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div>
                    <a href="/cadastros/cliente"><button type="button" class="success-button">Novo Cliente</button></a>
                </div>
                <br>
                <div class="row">
                    <input type="hidden" id="idMesa">
                    <label for="name">Cliente</label>
                    <select name="" id="name" style="width: 100% !important; font-size: 14px;">
                        <% clientes.forEach(function(cliente){%>
                            <option value="<%=cliente._id%>"><%=cliente.name%></option>
                           
                            <% });%>
                            
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="novoPedido();" class="success-button">Criar</button>
                <button type="button" class="mdl-button" onclick="closeClickHandler()" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="Modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Novo Pagamento</h5>
                <button type="button" class="" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <input type="hidden" id="id_caixa">
                    <input type="text" name="" id="data">
                    <label for="name">Pagamento</label>
                    <select name="tipo" class="form-control" id="tipo" style="width: 100% !important; font-size: 14px;">
                       <option value="dinheiro">Dinheiro</option>  
                       <option value="Cartão de credito">Cartão de Credito</option>
                       <option value="Cartão de Débito">Cartão de Débito</option>
                       <option value="Transferência">Transferência Bancária</option>
                       <option value="Carteira">Carteira</option>
                       <option value="Cortesia">Cortesia</option>
                    </select>
                    <label for="">Valor</label>
                    <input type="text" name="valor" id="valor">
                </div>
                <br>
                <hr>
                <br>
                <div>
                    <button type="button" id="pagamento" class="success-button">Adiconar</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="FinalizarPedido();" class="success-button">Finalizar</button>
                <button type="button" class="mdl-button" onclick="closeClickHandler()" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    // $('#adicionar').click(function() {
    //     console.log('teste');
    // });

    function dataAtualFormatada() {

        var data = new Date(),
            dia = data.getDate().toString(),
            diaF = (dia.length == 1) ? '0' + dia : dia,
            mes = (data.getMonth() + 1).toString(), //+1 pois no getMonth Janeiro começa com zero.
            mesF = (mes.length == 1) ? '0' + mes : mes,
            anoF = data.getFullYear();
        return anoF + "-" + mesF + "-" + diaF;
    }

    function showClickHandler() {
        document.querySelector('#idMesa').value = idMesa;
        $('#myModal').modal('show');

    };

    function novoPedido() {
        let name = $('#name').val();
        $.ajax({
            method: 'PUT',
            url: "novo/" + name,
            data: {
                client: name,
                isDelivery: true
            },
            success: function() {
                window.location.reload(true);
            }
        })
    }

    function Pagamento(idCaixa) {
        document.querySelector('#data').value = dataAtualFormatada();
        document.querySelector('#id_caixa').value = idCaixa;
        $('#Modal').modal('show');

    }
    $('#pagamento').click(function(event) {
        event.preventDefault();
        var tipo = $('#tipo').val();
        var valor = $('#valor').val();
        var caixa = $('#id_caixa').val();
        var createdAt = $('#data').val();
        var dados = {
            tipo: tipo,
            valor: valor,
            caixa: caixa,
            createdAt: createdAt
        }
        $.ajax({
            method: 'PUT',
            url: '/delivery/pagamento',
            data: dados,
            success: function(resposta) {
                console.log(resposta);
            }
        });

    });

    function FinalizarPedido() {
        var idCaixa = ('#id_caixa').val();

        $.ajax({
            method: 'PUT',
            url: "finalizar/" + idCaixa,
            data: {
                caixa: idCaixa,
            },
            success: function() {
                window.location.reload(true);
            }
        })

    }

    function caixa(idCaixa) {
        window.location.href = "/financeiro/caixa/" + idCaixa;

    }

    function add(idCaixa) {
        window.location.href = "/list/categorias/" + idCaixa;

    }

    function reabrir(idCaixa) {
        $.ajax({
            method: 'POST',
            url: '/caixa/reabrir',
            data: {
                id: idCaixa,
                ativo: 0
            },
        });
        window.location.reload(true);

    }
</script>