<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <base href="/">
    <link rel="stylesheet" href="/templates/css/style.css">
    <link rel="stylesheet" type="text/css" href="/templates/css/liststyle.css">
    <link rel="stylesheet" type="text/css" href="/templates/css/global.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        label {
            color: black !important;
        }
        
        input {
            background-color: white !important;
            color: black !important;
        }
    </style>
</head>

<body>
    <%- include('../componentes/menu.ejs'); -%>
        <div class="container1">
            <div class="container-form">
                <div id="#responsive" class="itens">

                    <div class="container-fluid" id="inventory">
                        <div class="row">
                            <div class="col-md-3">

                                <div class="card">
                                    <center>
                                        <img class="img-fluid" src="/img/lanches.png" width="150" alt="Card image cap">
                                        <div class="card-body">

                                            <a href="/list/produtos/<%=idCaixa%>"><button id="" class="" data-translate="start">Todos os Produtos</button></a>

                                        </div>
                                    </center>
                                </div>
                            </div>
                            <% categorias.forEach(function(categoria){ %>
                                <div class="col-md-3">

                                    <% if(categoria.pizza){%>
                                        <div class="card">
                                            <center>
                                                <img class="img-fluid" src="/img/pizza.png" width="150" alt="Card image cap">
                                                <div class="card-body">

                                                    <a id="<%=categoria._id%>" class="clickable-row" data-href="<%=(categoria.pizza) ? '/financeiro/addpizza/'+idCaixa : '/list/produtos/'+categoria._id+'/'+idCaixa %>"> <button class="btn view-btn"><%=categoria.name%></button></a>

                                                </div>
                                            </center>
                                        </div>
                                        <% }else{%>
                                            <% if(categoria.name=="Bebidas"){%>
                                                <div class="card">
                                                    <center>
                                                        <img class="img-fluid" src="/img/<%=categoria.name%>.png" width="150" alt="Card image cap">
                                                        <div class="card-body">

                                                            <a id="<%=categoria._id%>" class="clickable-row" data-href="<%=(categoria.pizza) ? '/financeiro/addpizza/'+idCaixa : '/list/produtos/'+categoria._id+'/'+idCaixa %>"> <button class="btn view-btn"><%=categoria.name%></button></a>
                                                        </div>
                                                    </center>
                                                </div>
                                                <%}else if(categoria.name=='Hamburgue') {%>
                                                    <div class="card">
                                                        <center>
                                                            <img class="img-fluid" src="/img/<%=categoria.name%>.png" width="150" alt="Card image cap">
                                                            <div class="card-body">

                                                                <a id="<%=categoria._id%>" class="clickable-row" data-href="<%=(categoria.pizza) ? '/financeiro/addpizza/'+idCaixa : '/list/produtos/'+categoria._id+'/'+idCaixa %>"> <button class="btn view-btn"><%=categoria.name%></button></a>
                                                            </div>
                                                        </center>
                                                    </div>
                                                    <%}else{%>
                                                        <div class="card">
                                                            <center>
                                                                <img class="img-fluid" src="/img/<%=categoria.name%>.png" width="150" alt="Card image cap">
                                                                <div class="card-body">

                                                                    <a id="<%=categoria._id%>" class="clickable-row" data-href="<%=(categoria.pizza) ? '/financeiro/addpizza/'+idCaixa : '/list/produtos/'+categoria._id+'/'+idCaixa %>"> <button class="btn view-btn"><%=categoria.name%></button></a>
                                                                </div>
                                                            </center>
                                                        </div>


                                                        <%}}%>
                                </div>
                                <%if(tipo==0){%>

                                    <%}%>

                                        <% }); %>

                        </div>
                    </div>

                </div>
                <%- include('../componentes/rodape.ejs'); -%>
                    <script>
                        $(document).ready(function($) {
                            $(".clickable-row").click(function() {
                                window.location = $(this).data("href");
                            });
                        });
                    </script>


</body>


</html>