<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/templates/css/liststyle.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/templates/css/global.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/templates/css/produto.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        label{
            color: black !important;
        }
        input{
            background-color: white !important;
            color: black !important;
        }
    </style>
</head>
<body>
    <div class="container1">
        <div class="container-form">
            <div id="#responsive" class="itens">
                <a href="/list/produtos/<%=idCaixa%>"><button id="" class="" data-translate="start">Todos os Produtos</button></a>
                <table id="#responsive">
                    <thead>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th style="text-align: center;">Ativo</th>
                        <th style="text-align: center;">É Pizza?</th>
                        <%if(tipo==0){%>
                        <th style="text-align: center;">Ações</th>
                        <%}%>
            
                    </thead>
                    <tbody>
                        <% categorias.forEach(function(categoria){ %>
                            <tr style="cursor: pointer;" id="<%=categoria._id%>" class="clickable-row" data-href="<%=(categoria.pizza) ? '/financeiro/addpizza/'+idCaixa : '/list/produtos/'+categoria._id+'/'+idCaixa %>">
                                <td><%=categoria.codigo%></td>
                                <td><%=categoria.name%></td>
                                <td style="text-align: center;"><%=categoria.ativo ? 'Sim':'Não'%></td>
                                <td style="text-align: center;"><%=categoria.pizza ? 'Sim':'Não'%></td>
                                <%if(tipo==0){%>
                                <td style="text-align: center;">
                                    <button id="" class="select" data-translate="start">Desativar</button>
                                </td>
                                <%}%>
                            </tr>
                          <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

</body>
</html>