<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/templates/css/liststyle.css">
    <link rel="stylesheet" type="text/css" href="/templates/css/global.css">
    <link rel="stylesheet" type="text/css" href="/templates/css/card.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .clickable-row {
            cursor: pointer;
        }
        
        .usando {
            background: linear-gradient(90deg, rgba(82, 81, 13, 1) 0%, rgba(177, 180, 29, 0.8939950980392157) 57%) !important;
        }
    </style>
</head>

<body>
    <%- include('../componentes/menu.ejs'); -%>
        <div class="notify"><span id="notifyType" class=""></span></div>
        <div class="container1">
            <div class="container-form">
                <div id="#responsive" class="itens">
                    <div class="main">
                        <ul class="cards">
                            <% mesas.forEach(function(mesa){ %>
                                <li class="cards_item" id="<%=mesa._id%>">
                                    <div class="card clickable-row" data-tipo="<%=mesa.tipo%>" data-href='<%=(mesa.tipo==1)?"/financeiro/caixa/"+mesa.caixa._id : " "%>'>
                                        <div class="card_image"><img style="width: 75%;" src="/img/mesa.png"></div>
                                        <div class="card_content <%=(mesa.tipo==0)?'':' usando'%>">
                                            <h1 class="card_title">
                                                <%=mesa.name%>
                                            </h1>
                                            <p class="card_text">
                                                Código:
                                                <%=mesa.codigo%> <br>
                                            </p>
                                            <div class="card_buttons">
                                                <%if(mesa.tipo==0){%>
                                                    <span><button id="" onclick="showClickHandler('<%=mesa._id%>');" class="btn card_btn" data-translate="start">Usar</button></span>
                                                    <%}else{%>
                                                        <span><button id="" class="btn card_btn" disabled onclick="fecharMesa('<%=mesa._id%>');" data-translate="start">Fechar</button></span>
                                                        <%}%>
                                                            <button id="" class="btn card_btn" data-translate="start">Editar</button>
                                                            <button id="" class="btn card_btn" data-translate="start">Desativar</button>

                                            </div>
                                            <!-- <button class="btn card_btn">Read More</button> -->
                                        </div>
                                    </div>
                                </li>
                                <%});%>
                        </ul>
                    </div>

                </div>
            </div>

            <dialog class="mdl-dialog" id="modal-example">
                <input type="hidden" id="idMesa">
                <div class="mdl-dialog__content">
                    <div class="row">
                        <fieldset class='float-label-field'>
                            <label for="name">Cliente</label>
                            <input style="width: 100% !important;" id="name" class='texto' required name="name" type='text'>
                        </fieldset>
                    </div>
                </div>
                <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                    <div class="container-button left">
                        <button onclick="closeClickHandler();" type="button" class="mdl-button">Close</button>
                    </div>
                    <div class="container-button right">
                        <button type="button" onclick="usarMesa();" class="mdl-button">Usar</button>
                    </div>
                </div>
            </dialog>

            <script>
                $(document).ready(function($) {
                    $(".clickable-row").click(function() {
                        if ($(this).data("tipo") == 1) {
                            window.location = $(this).data("href");
                        }
                    });
                });

                var dialog = document.querySelector('#modal-example');
                if (!dialog.showModal) {
                    dialogPolyfill.registerDialog(dialog);
                }

                function closeClickHandler() {
                    dialog.close();
                };

                function showClickHandler(idMesa) {
                    dialog.querySelector('#idMesa').value = idMesa;
                    dialog.showModal();
                };

                function fecharMesa(idMesa) {
                    $.ajax({
                        type: 'PUT',
                        url: '/close/mesa/' + idMesa,
                        contentType: 'application/json',
                        data: JSON.stringify({}), // access in body
                    }).done(function(data) {
                        //$('#' + idMesa + ' td#usando').text('Não');
                        $('#' + idMesa + ' div.card_buttons span').html(`<button id="" onclick="showClickHandler('${idMesa}');"  class="btn card_btn" data-translate="start">Usar</button>`);
                        let tr = document.getElementById('' + idMesa);
                        let clickables = tr.querySelectorAll('.clickable-row');
                        for (let index = 0; index < clickables.length; index++) {
                            const element = clickables[index];
                            let href = element.getAttribute('data-href');
                            element.setAttribute("data-href", ``);
                            element.setAttribute("data-tipo", 0);
                            window.location = href;
                        }
                        dialog.close();
                        // window.location.reload(true);
                    }).fail(function(msg) {
                        console.log('FAIL');
                    }).always(function(msg) {
                        console.log('ALWAYS');
                    });
                }

                function usarMesa() {
                    let idMesa = document.querySelector('#idMesa');
                    let name = document.querySelector('#name');
                    let data = {
                        cliente: name.value,
                        mesa: idMesa.value
                    };

                    $.ajax({
                        type: 'PUT',
                        url: '/use/mesa/' + idMesa.value,
                        contentType: 'application/json',
                        data: JSON.stringify(data), // access in body
                    }).done(function(data) {
                        //$('#' + idMesa.value + ' td#usando').text('Sim');
                        $('#' + idMesa.value + ' div.card_buttons span').html(`<button id="" onclick="fecharMesa('${idMesa.value}');"  class="btn card_btn" data-translate="start">Fechar</button>`);
                        let tr = document.getElementById('' + idMesa.value);
                        let clickables = tr.querySelectorAll('.clickable-row');
                        for (let index = 0; index < clickables.length; index++) {
                            const element = clickables[index];
                            element.setAttribute("data-href", `/financeiro/caixa/${data._id}`);
                            element.setAttribute("data-tipo", 1);
                        }
                        let card = document.getElementById(idMesa.value);
                        card = card.querySelector('div.card_content');
                        card.classList.add('usando');
                        dialog.close();
                        window.location.reload(true);
                    }).fail(function(msg) {
                        console.log('FAIL');
                    }).always(function(msg) {
                        console.log('ALWAYS');
                    });
                }
            </script>
            <%- include('../componentes/rodape.ejs'); -%>
</body>

</html>