<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressao</title>
    <link rel="stylesheet" href="/templates/geral/css/impressao.css">
</head>
<style>
    th,
    td {
        font-size: 10pt;
        /* font-weight: bold; */
    }
    
    th.rigth,
    td.rigth {
        text-align: right;
    }
</style>

<body>
    <div class="impressao">
        <div class="left">
            <b>Pizzaria Pit Stop</b>
            <b>Av. Luiz Viana Filho, 290, Caldas do Jorro</b>
            <br>
        </div>
        <div class="diver"></div>
        <table>
            <thead>
                <th>Data</th>
                <th>Tipo</th>
                <th class="rigth">Valor</th>
            </thead>
            <tbody>
                <% var total = 0;
                pagamentos.forEach(function(pagamento){
                    total += parseFloat(pagamento.valor);
                         });%>

                    <tr>

                        <td colspan="2">
                            <b> Quantidade:</b></td>
                        <td colspan="2" class="rigth">
                            <%=pagamentos.length%>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Total:</b></td>
                        <td colspan="2" class="rigth">
                            <%=parseFloat(total).toFixed(2)%>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Total + Taxas:</b></td>
                        <td colspan="2" class="rigth">
                            <%=parseFloat(parseFloat(total)+parseFloat(gorjeta)).toFixed(2)%>
                        </td>
                    </tr>

            </tbody>

        </table>
        <div>Dinheiro: R$
            <%=parseFloat(dinheiro).toFixed(2)%>, C.Crédito: R$
                <%=parseFloat(credito).toFixed(2)%>, C.Débito: R$
                    <%=parseFloat(debito).toFixed(2)%>, Transferência: R$
                        <%=parseFloat(transferencia).toFixed(2)%>, Taxas: R$
                            <%=parseFloat(gorjeta).toFixed(2)%>
        </div>
        <footer>
            <p> De:
                <% var data = inicio.split('-'); data= data[2]+'/'+data[1]+'/'+data[0]%>
                    <%=data%> até:
                        <% var datafim = fim.split('-'); datafim= datafim[2]+'/'+datafim[1]+'/'+datafim[0]%>
                            <%=datafim%>
            </p>

            <%
                var data = new Date(),
                dia  = data.getDate().toString(),
                diaF = (dia.length == 1) ? '0'+dia : dia,
                mes  = (data.getMonth()+1).toString(), //+1 pois no getMonth Janeiro começa com zero.
                mesF = (mes.length == 1) ? '0'+mes : mes,
                anoF = data.getFullYear();
                minute = ("0000000000"+data.getMinutes()).slice(-2);
                var newDate =  diaF+"/"+mesF+"/"+anoF +" "+data.getHours()+":"+minute;
            %>
                Emissão:
                <%= newDate %>
        </footer>
        <div style="text-align: center;">
            -------------------------------------------------------------------
        </div>
    </div>
    <!--<div class="float-rigth" onclick="window.print();">
        <img src="/templates/geral/img/print.png" alt="">
    </div> -->
</body>

</html>